@import "../App.scss";

.AddOns {
  form {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: $twenty-px;
    .AddOn {
      border-radius: $border-radius;
      padding: 15px $twenty-px;
      display: flex;
      align-items: center;
      position: relative;
      border: 1px solid $cool-grey;
      &:hover {
        border: 1px solid $purple-blue;
        cursor: pointer;
      }
      &.selected {
        background: $alabaster;
        border: 1px solid $purple-blue;
        input[type="checkbox"] {
          border: 1px solid $light-grey;
          background-color: $purple-blue;
        }
      }
      input[type="checkbox"] {
        margin: 0 $twenty-px 0 0;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid $light-grey;
        border-radius: 50px;
        &:checked {
          visibility: hidden;
        }
      }
      .checkmark {
        visibility: hidden;
        &.selected {
          visibility: visible;
          display: block;
          background: url("../assets/images/icon-checkmark.svg");
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 3px;
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: $purple-blue;
        }
      }
      .text {
        margin: 0 auto 0 0;
        > * {
          display: block;
        }
        label {
          font-weight: 500;
          text-transform: capitalize;
          color: $marine-blue;
          margin-bottom: 5px;
        }
        .details {
          color: $cool-grey;
        }
      }
      .price {
        color: $purple-blue;
        font-weight: 500;
      }
    }
  }
}
