@import "../App.scss";

.NavButtons {
  grid-area: nav;
  display: grid;
  grid-template-areas: "back next";
  align-items: start;
  justify-content: space-between;
  button {
    font-family: $font;
    font-size: 16px;
    padding: 15px;
    border-radius: $border-radius;
    min-width: 125px;
    min-height: 50px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
  }
  .back {
    grid-area: back;
    background: transparent;
    border: none;
    color: $cool-grey;
    text-align: left;
    padding-left: 0;
    &:hover {
      color: $marine-blue;
    }
  }
  .next {
    grid-area: next;
    background: $marine-blue;
    color: $alabaster;
    &:hover {
      opacity: 90%;
    }
  }
  .confirm {
    grid-area: next;
    background-color: $purple-blue;
    color: $alabaster;
    border: none;
    &:hover {
      opacity: 70%;
    }
  }
  @media (max-width: 767px) {
    padding: $twenty-px;
    background-color: white;
    margin-bottom: unset;
  }
}
