@import "../App.scss";

.OrderConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 80px auto 100px;
  text-align: center;
  height: 100%;
  h1 {
    color: $marine-blue;
  }
  p {
    margin: 0;
    line-height: 1.5em;
    color: $cool-grey;
  }
  @media (max-width: 1080px) {
    position: absolute;
    background: white;
    top: 100px;
    margin: auto 20px;
    border-radius: $border-radius;
    height: auto;
    padding: 80px $twenty-px;
  }
}
