@import "../App.scss";

.UserInfo {
  grid-template-rows: $step-header-height auto $step-nav-buttons-height;
  form {
    color: $marine-blue;
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    label {
      padding: 0 0 10px;
    }
    input {
      padding: 15px;
      border-radius: $border-radius;
      font-size: 18px;
      font-family: $font;
      font-weight: 500;
      color: $marine-blue;
      margin-bottom: $twenty-px;
      border: 1px solid $light-grey;
      &:focus-visible {
        outline: 1px solid $purple-blue !important;
      }
    }
  }
}
