@import "../App.scss";

.UserInfo {
  form {
    grid-area: content;
    color: $marine-blue;
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    label {
      padding: 0 0 10px;
      display: flex;
      .error.active {
        display: block;
        margin-left: auto;
        color: red;
      }
    }
    input {
      padding: 15px;
      border-radius: $border-radius;
      font-size: 18px;
      font-family: $font;
      font-weight: 500;
      color: $marine-blue;
      margin-bottom: $twenty-px;
      border: 1px solid $light-grey;
      &:focus-visible {
        outline: 1px solid $purple-blue !important;
      }
      &.error.active {
        border-color: red;
      }
    }
  }
  @media (max-width: 767px) {
    form {
      padding-top: 10px;
      label {
        padding-bottom: 4px;
        .error {
          &.active {
            font-size: 16px;
          }
        }
      }
      input {
        padding: 10px;
        font-size: 16px;
      }
    }
  }
}
