// Colors
$marine-blue: hsl(213, 96%, 18%);
$purple-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry: hsl(354, 84%, 57%);
$cool-grey: hsl(231, 11%, 63%);
$light-grey: hsl(229, 24%, 87%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// Stylings
$border-radius: 10px;

.App {
  font-family: "Ubuntu", "Helvetica Neue", sans-serif;
  border-radius: $border-radius;
  box-shadow: 10px 10px 10px grey;
  width: 90%;
  max-width: 1100px;
  margin: 100px auto;
  background-color: $alabaster;
  padding: 20px;

  .WizardStepInfo {
    max-width: 30%;
    border-radius: $border-radius;
  }

  .StepTwo {
    .toggle-container {
      .toggle {
        position: relative;
        display: inline-block;
        margin: 20px;
        width: 40px;
        height: 20px;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $marine-blue;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        border-radius: 50%;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
    }
  }
}
