// Colors
$marine-blue: hsl(213, 96%, 18%);
$purple-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry: hsl(354, 84%, 57%);
$cool-grey: hsl(231, 11%, 63%);
$light-grey: hsl(229, 24%, 87%);
$alabaster: hsl(231, 100%, 99%);
$magnolia: hsl(217, 100%, 97%);

// Stylings
$border-radius: 10px;
$font: "Ubuntu", "Helvetica Neue", sans-serif;
$twenty-px: 20px;
$step-header-height: 100px;
$step-nav-buttons-height: 90px;

.App {
  font-family: $font;
  border-radius: $border-radius;
  box-shadow: 10px 10px 10px rgba(211, 211, 211, 0.643);
  max-width: 1000px;
  max-height: 569px;
  margin: 100px auto;
  background-color: white;
  padding: $twenty-px;
  display: grid;
  grid-template-columns: 274px 1fr;
  gap: 100px;

  button:hover {
    cursor: pointer;
  }

  .steps {
    background: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    height: 508px;
    margin: 0;
    padding: 30px;
    color: white;
    border-radius: $border-radius;
    list-style: none;
    .StepPreview {
      display: flex;
      gap: $twenty-px;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 30px 0;
      .step {
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px 14px;
        &.active {
          background-color: $light-blue;
          border: 1px solid $light-blue;
          color: $marine-blue;
        }
      }
      div {
        > * {
          margin: 0 0 5px 0;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .name {
          color: $light-grey;
          font-size: 14px;
        }
      }
    }
  }

  .grid {
    margin: 0 80px 0 0;
    display: grid;
    gap: 35px;
  }
}
